

ndp-sidenav {
    display: none ;
}

ndp-sidenav.menu-open{
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding-top:35px;
    overflow: hidden;
    background-color: rgba(0,0,0,0.9);
    z-index: 999;
}

div#hamburger {
    z-index: 99999999;
    color: #fff;
    position: fixed;
    right: 15px;
    cursor: crosshair;
}

h1 {
    color: #fff;
    text-align: center;
}